$themeClrPrimary: #5f6fad;

$commonBorderRadius: 5px;

$themeClrPrimary_black: #0a0908;
$themeClrPrimary_grey1: #1A1A1A;
$themeClrPrimary_grey2: #222222;
$themeClrPrimary_blue: #22333b;
$themeClrPrimary_contrast: #c6ac8f;
$themeClrPrimary_tertiary: #5e503f;
$themeClrPrimary_white: #eae0d5;
$white: #eeebe8;
$primaryFont: "Caveat", cursive;
$SecondaryFont: 'Overpass', sans-serif;