.skills {
  display: flex;
  flex-wrap: wrap;
  &__skill {
    padding: 0.4rem 1.2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.6rem;
    background: rgba($themeClrPrimary_tertiary, 0.3);
    border-radius: $commonBorderRadius;
    font-weight: 600;
    color: $themeClrPrimary_white;
  }
}
